.container-full-width{
   width: 95%;
   margin:0px auto;
}

.template_hidden{
	display: none;
}

div.error{
  color: red;
}
div.success{
  color: green;
}
.ui-autocomplete-loading { background:url('img/ajax-loader.gif') no-repeat right center }

li.active, tr.active{
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125); 
}


table-striped tbody tr.highlight td { background-color: red; }


table.main
{
    width: 100%;
    height: 221px;
    table-layout: fixed;
}
table.root
{
	table-layout: fixed;
}

table.content
{
    table-layout: fixed;
    width: 1890px;
}

table.head
{
    table-layout: fixed;
    width: 1890px;
}

table.frozen
{
	table-layout: fixed;
}
td
{
    line-height: 28px;
}

div.horizontal-scroll
{
    width: 97.4%;
    height: 22px;
    overflow: hidden;
    overflow-x: scroll;
    border: solid 1px #666;
}
div.horizontal-scroll div
{
    width: 2173px;
    height: 1px;
}
div.vertical-scroll
{
    height: 355px;
    width: 22px;
    overflow: hidden;
    overflow-y: scroll;
    border: solid 1px #666;
}
div.vertical-scroll div
{
    height: 377px;
    width: 1px;
}
td.inner
{
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 3px;
    height: 28px;
}
td.frozen-index
{
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 3px;
    height: 28px;
    width: 50px;
}

td.inner-frozen
{
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 3px;
    height: 28px;
}
td.inner-frozen-last
{
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 3px;
    height: 43px;
}
td.inner-head
{
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 3px;
    height: 155px;
}
td.frozencol
{
    border-right: 1px double #666;
    width: 340px;
}
td.col1
{
    border-left: none;
    width: 100px;
}
td.bottomcol
{
    /*border-bottom: 1px solid #666;*/
}

.col_header
{
    width: 200px;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipses;
    white-space: nowrap;
}
.col_header_last
{
    width: 250px;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipses;
    white-space: nowrap;
}
.col_content{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipses;
    white-space: nowrap;
}

td.head
{
    /*border-bottom: 1px solid #666;*/
    background-color: #efefef;
    border-top: 1px solid #666;
}
.rightcol
{
    border-right: 1px solid #666;
}
.toprow
{
    border-top: 0px;
}


div.root
{
    margin-left: 0px;
    overflow: hidden;
    width: 431px;
    height: 155px;
    border-bottom: 1px solid #666;
}
div.frozen
{
    overflow: hidden;
    width: 431px; /*border-bottom: 1px solid #666;*/
    height: 200px;
}
div.divhead
{
    overflow: hidden;
    height: 155px;
    width: 100%;
    border-left: 1px solid #666;
    border-right: 1px solid #666; /*border-bottom: 0px solid #666;*/
    border-bottom: 1px solid #666;
}

div.content
{
    overflow: auto;
    width: 100%;
    height: 200px;
    border-left: 1px solid #666;
    border-right: 1px solid #666; /*border-bottom: 1px solid #666;*/
}

td.tablefrozencolumn
{
	width: 430px;
    border-right: 0px solid #666;
}
    
td.tableverticalscroll
{
    width: 24px;
}
div.ff-fill
{
    width: 23px;
    background-color: #ccc;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
}


td.tablecontent
{
    width: 100%;
}

