{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}Your dashboard{% endblock %}

{% block main_content %}
<h1>List pending trainings and predictions</h1>

<legend>My pending trainings</legend>
{% include 'IchnaeaWebAppTrainingBundle::template_trainings.html.twig' %}

<legend>My pending predictions</legend>


{% endblock %}