{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_title %}Your dashboard{% endblock %}


{% block body %}
<h1>Welcome {{app.user.username}}</h1>

<h2>Your matrixs</h2>
<table class="table">
<tr>
  <th>&nbsp;</th>
  <th>Name</th>
</tr>
{% for matrix in app.user.matrixs %}
<tr>
  <td>
  	<a class="btn btn-mini" href="{{path('matrix_ui_edit', {'matrix_id': matrix.id})}}" name="view_matrix" title="Configure columns and samples">
    <i class="icon-edit"></i></td>
  <td>{{matrix.name}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}