{% extends '::IchnaeaBase.html.twig' %}

{% block page_title %}Welcome to Ichnaea Web Services{% endblock %}

{% block body %}
<div class="container">
  {{ block('fos_user_content')}}
 </div>
{% endblock %}
