{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}Download matrix{% endblock %}

{% block main_content %}
<form method="post" id="seasonForm" class="form-horizontal" action="{{path('matrix_download', {matrix_id: matrix_id})}}">
<legend>Download '<i>{{matrix_name}}</i>'</legend>
<div class="form-group">
    <label for="download_type">Type of download</label>
    <select class="form-control" name="type_download">
  	    <option value="simple">Simple csv download</option>
        <option value="complete">Complete csv download</option>   
    </select>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Download</button>
    </div>
</div>
</form>
{% endblock %}