{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}Create a new matrix{% endblock %}

{% block main_content %}
<form method="post" id="matrixForm" class="form-horizontal" 
{% if update == 'y' %}
action="{{path('matrix_update_data_action', {'matrix_id': matrix_id})}}">
{% else %}
action="{{path('matrix_create_action')}}">
{% endif %}
 <div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
   <input type="text" id="name" name="name" placeholder="Matrix's name" value="{% if update == 'y' %}{{name}}{% endif %}">
  </div>
 </div>
 <div class="control-group">
  <label class="control-label" for="files">Matrix file(only csv)</label>
  <div class="controls">
   <input type="file" id="files" name="files" multiple />
  </div>
  <div class="controls">
   <textarea id="content" name="content"></textarea>
  </div>
  </div>
  <div class="form-actions">
        <button type="submit" class="btn btn-primary">
        	{% if update == 'y' %}Update matrix{% else %}Create matrix{% endif %}
        </button>
  </div>
</form>
 </div>
</form>
{% endblock %}

{% block extra_javascript %}
$(document).ready(function(){
    importFileIntoInput('files', 'content');
})
{% endblock %}