{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}System's matrixs{% endblock %}

{% block main_content %}

<h1>Ichnaea Matrixs</h1>

{% include 'MatrixBundle:Matrix:template_listing.html.twig' %}

{% endblock %}

{% block extra_javascript %}
{% endblock %}