{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}System's predictions{% endblock %}

{% block body %}
<div class="container">
<h1>System's predictions</h1>

{% include 'IchnaeaWebAppPredictionBundle::template_predictions.html.twig'  %}

{% endblock %}