{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}Predictable trainings list{% endblock %}

{% block body %}
<div class="container">
<div style="width: 100%;">
<h1>List of predictable trainings</h1>
{% include 'IchnaeaWebAppTrainingBundle::template_trainings.html.twig' %}
</div>
</div>
{% endblock %}