{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}My trainings{% endblock %}

{% block main_content %}
 <h1>My trainings</h1>
 
{% include 'IchnaeaWebAppTrainingBundle::template_trainings.html.twig' %}
 
{% endblock %}
