<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Ichnaea Amqp Test</title>
	    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css" media="all" />
	    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
	    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

	    <script src="js/jquery.min.js" type="text/javascript"></script>
	    <script src="js/bootstrap.min.js" type="text/javascript"></script>
	    <script src="js/handlebars.js" type="text/javascript"></script>   
	    <script src="js/ember.min.js" type="text/javascript"></script>  
	    <script src="js/ember-data.min.js" type="text/javascript"></script>
	    <script src="js/app.js" type="text/javascript"></script>

	    <script type="text/javascript">
		DS.RESTAdapter.reopen({
		  namespace: 'ichnaea'
		});
		</script>

		<script type="text/x-handlebars" data-template-name="build-models">
			{{view App.BuildModelsFormView}}
			<table class="table table-striped">
			<thead>
				<tr><th>Id</th><th>Start</th><th>End</th><th>Progress</th><th></th></tr>
			</thead>
			{{view App.BuildModelsTasksView contentBinding="controller.tasks"}}
  			</table>
		</script>

		<script type="text/x-handlebars" data-template-name="build-models-task">
			<td>{{view.taskId}}</td>
			<td>{{view.startTime}}</td>
			<td>{{view.endTime}}</td>
			<td>
			<div class="progress progress-striped">
			<div class="bar" {{bindAttr style="view.barStyle"}}>{{view.percent}}%</div>
			</div></td>
			<td>
			<div class="btn-group">
			    <a class="btn btn-primary btn-mini" href="#" data-toggle="dropdown" >Actions</a>
			    <a class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
			    <span class="caret"></span></a>
			    <ul class="dropdown-menu">
			        <li><a href="#" {{action "removeItem" target="view"}} class="delete-task"><i class="icon-trash"></i> Delete</a></li>
			    </ul>
			</div>
			</td>
		</script>

		<script type="text/x-handlebars" data-template-name="build-models-form">
			<form class="form-horizontal" method="POST" action="build-models" enctype="multipart/form-data">
				<fieldset>
					<legend>{{view.title}}</legend>

					<ul class="nav nav-tabs">
					  <li class="active"><a href="#build-models-form-real" data-toggle="tab" class="disable-fake">Real</a></li>
					  <li><a href="#build-models-form-fake" data-toggle="tab" class="enable-fake">Fake</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="build-models-form-real">
							<div class="control-group">
							    <label class="control-label" for="build-models-form-season">Season</label>
							    <div class="controls">
								    <select name="season" id="build-models-form-season">
								    	<option value="winter">Winter</option>
								    	<option value="summer">Summer</option>
								    </select>
								</div>
							</div>
							<div class="control-group">
							    <label class="control-label" for="build-models-form-dataset">Data</label>
							    <div class="controls">
							    	{{#view App.UploadFileView name="dataset" id="build-models-form-dataset"}}
							    	{{/view}}
							    </div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Submit</button>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="build-models-form-fake">
							<div class="control-group">
							    <label class="control-label" for="build-models-form-fake-duration">Duration</label>
							    <div class="controls">
								    <div class="input-append">
									    <input type="text" value="10" class="input-mini" name="fake_duration" id="build-models-form-fake-duration" />
									    <span class="add-on">seconds</span>
									</div>
								</div>
							</div>
							<div class="control-group">
							    <label class="control-label" for="build-models-form-fake-interval">Interval</label>
							    <div class="controls">
									<div class="input-append">
									    <input type="text" value="1" class="input-mini" name="fake_interval" id="build-models-form-fake-interval" />
									    <span class="add-on">seconds</span>
									</div>
							    </div>
								</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</script>

		<script type="text/x-handlebars" data-template-name="application">
			<div id="body" class="container">
				<div class="span12">
				    <header class="page-header">
				        <h1>Ichnaea Amqp Test</a>
				    </header>
				    <div id="main" class="row-fluid">
				        {{outlet}}
				    </div>
				</div>
			</div>
		</script>

    </head>
    <body>
    </body>
</html>