{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}System's matrixs{% endblock %}

{% block main_content %}

<h1>Ichnaea Matrixs</h1>

{% include 'MatrixBundle:Matrix:View/template_listing.html.twig' with { 'view_enable': 'true', 'clone_enable':'true', 'train_enable': 'false'} %}

{% endblock %}

{% block extra_javascript %}
{% endblock %}